.Background{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
  
  .watermark{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;

    .text{
      font-size: 15rem;
      font-weight: 900;
      font-style: italic;
      color: var(--bg-color);
      text-shadow: var(--text-shadow);
    }
    
    .bg-logo{
      margin-top: -15rem;
      fill: var(--bg-color);
    }

    .bottom-blur{
      fill: rgba(0,0,0,.09)
    }
  }
}