.Background{
  width: 100vw;
  height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
  
  .watermark{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .text{
      font-size: 15rem;
      font-weight: 700;
      transform: scaleX(.9);
      font-style: italic;
      color: var(--bg-color);
      text-shadow:  10px 10px 20px rgba(0,0,0,.09),
                    -10px -10px 20px white;
    }
  }
}