.App {
  text-align: center;

  &.white-theme{
    --bg-color: #f6f6f6;
    --text-color: black;
  }

  &.dark-theme{
    --bg-color: #333333;
    --text-color: #fafafa;
  }

  @import url(./components/styles/Background.scss);
}
